# 填写以下信息，重命名文件为env

[DEFAULT]
# https://miniwebtool.com/django-secret-key-generator/
SECRET_KEY = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEBUG = False

[DATABASE]
# mysql / mariadb
HOST = xxxxxxxxxxxxxxxxx
PORT = xxxxxxxxxxxxxxxxx
NAME = xxxxxxxxxxxxxxxxx
USER = xxxxxxxxxxxxxxxxx
PASSWORD = xxxxxxxxxxxxx